/* variables */

:root{
  --primary: #1E201E;
  --secondary: #FF5C8D;
  --tertiary: #F5F7F8;
}

/* Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  img{
    width: 100%;
  }

/* Typography(fonts) */
p,h1,h2{
  color: var(--tertiary);
}

h1,h2{
  font-size: 2em;
}

a{
  color: var(--tertiary);
  text-decoration: none;
}

span{
  color: var(--secondary);
}


body{
  background: var(--primary);
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  margin: 2em 6%;
}

.nav{
  display: flex;
  flex-direction: column;
}

.nav-header{
  margin: 8px 0;
}

.nav-header h1{
  font-size: 20px;
}
.nav-header p{
  font-size: 12px;
}

.nav-links{
 display: flex;
 list-style: none;
 margin-bottom: 8px;
}

.nav-links li{
  font-size: 12px;
  margin-right: 6px;

}


.images-container{
  display: grid;
}



/* Media queries */
@media (min-width: 640px) { 
  .images-container{
    grid-template-columns:repeat(auto-fit, minmax(278px, 1fr));
    gap: 12px;
  }
  

}

@media (min-width: 768px) { 
  .nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
}

@media (min-width: 1024px) {  }


@media (min-width: 1280px) {  }