/* variables */

:root{
  --primary: #1E201E;
  --secondary: #FF5C8D;
  --tertiary: #F5F7F8;
}

/* Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  img{
    width: 100%;
  }

/* Typography(fonts) */
p,h1,h2{
  color: var(--tertiary);
}

h1,h2{
  font-size: 2em;
}

a{
  color: var(--tertiary);
  text-decoration: none;
}

span{
  color: var(--secondary);
}

/* Mobile-styles */
body{
  background: var(--primary);
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.navigation{
  padding: 2em .5em 3em .5em;
}

.primary{
  line-height: 1.25;
}

.primary p{
  font-size: .75rem;
  color: var(--secondary);
  font-family: "Matemasie", sans-serif;
}

.secondary{
  display: none;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
}

.main div{
  grid-column: 1/13;
  margin: .15em 0;
  padding: 0 .5em;
}

#about{
  padding: 2em .5em 2.5em .5em;
}

#about h2{
  font-size: 1.5em;
  padding-bottom: .5em;
  color: var(--secondary);
}

#about p{
  font-size: .85em;
}

#contact{
  padding: 2.5em 0em 3em 0em;
}

#contact h2{
  font-size: 1.3em;
  text-align: center;
  color: var(--secondary);
}

#contact form{
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  text-align:end;
}

#contact input ,#contact textarea{
  width: 100%;
  margin: .5em 0;
  background: none;
  border: .1px solid var(--secondary);
  color: var(--tertiary);
  border-radius: 1.5em;
  font-size: .65rem;
}

#contact input{
  padding: 2em 1em;
}

#contact textarea{
  padding: 5em 1em;
}

#contact button{
  background: none;
  border: .1px solid var(--secondary);
  border-radius: .75em;
  padding: .25em 1.5em;
  color: var(--tertiary);
  font-size: .85em;
}

#contact button:hover, button:focus{
  background: var(--secondary);
  color: black;
}

.footer-link{
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

.information{
  display: flex;
  flex-direction: column;
}

.information, .links{
  font-size: .75rem;
}

.links{
  display: flex;
  flex-direction: column;
}

.footer-link a:hover, a:focus{
  color: var(--secondary);
}


/* Small tablet-styles */
@media (min-width: 640px){
  
  body{
    font-size: 18px;
  }

  .navigation{
    width: 90%;
    margin: 0 auto;
  }
 /* .primary h1{
  font-size: 2rem;
 } */
 /* .primary p{
  font-size: .75rem;
 } */

 .main{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
 }

 .main-images img{
  border-radius: 1.5em;
 }

 #about{
  width: 90%;
  max-width: 922px;
  margin: 0 auto;
}

#contact{
  width: 90%;
  max-width: 922px;
  margin: 0 auto;
}

}

/* large tablet-styles */
@media (min-width: 768px){

  body{
    font-size: 20px;
  }
  /* .primary h1{
   font-size: 2.5rem;
  }
  .primary p{
   font-size: .95rem;
  }
  */

  .main-images img{
   border-radius: 1.2em;
  }

  .main div:nth-child(1){
    grid-column: 1/13;
  }

  .main div{
    grid-column: span 6;
    padding: .45em;
    align-self: center;
  }
 
  #about{
   width: 90%;
   /* max-width: 768px; */
 }

 }

 /* large tablet-styles */
 @media (min-width: 922px){

  body{
    font-size: 25px;
  }
  /* .primary h1{
   font-size: 2.5rem;
  }
  .primary p{
   font-size: .95rem;
  } */

#contact textarea, #contact input{
  font-size: .85rem;
}

 }

 /* Desktop/laptop-styles */
 @media (min-width: 1200px){

  .navigation{
    display: flex;
    justify-content: space-between;
  }

  .secondary{
    display: contents;
  }

  .secondary ul{
    display: flex;
    list-style: none;
  }

  .secondary li{
    display: flex;
    align-items: center;
  }

  .secondary a{
    border: .1px solid var(--secondary);
    border-radius: 1em;
    margin: 0 0 0 .5em;
    padding: 1.2em 2.5em;
    font-size: .85rem;
  }

  .secondary a:hover, a:focus{
    background: var(--secondary);
    color: black;
  }

  .main div{
    grid-column: span 4;
  }

 }

  /* extra large device-styles */
  @media (min-width: 1400px){

    .secondary a{
      border: .1px solid var(--secondary);
      border-radius: 1em;
      margin: 0 0 0 1em;
      padding: 1.2em 2.5em;
      font-size: .95rem;
    }
  
    .secondary a:hover, a:focus{
      background: var(--secondary);
      color: black;
    }
  
    .main div{
      grid-column: span 4;
    }
  
   }